# This will be placed in $HOME, and we can stop looking past there
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.{json,yaml,yml}]
indent_size = 2

# isort defaults to inspecting editor config for some options
[*.py]
profile = black
multi_line_output = 3
